@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


:root{
    --primary-color: rgba(13,106,135); 
    --primary-color-darker:  rgb(11, 71, 84); 
}


*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin:0; 
    padding:0; 
     
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
        
    font-family:  'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.3em;

    background: #fcfcfc; 
}

header{
    width: 90vw; 

    display: flex; 
    align-items: center;
    justify-content: space-between;

    position: absolute;
    margin-top: 8.5em; 

    background: #d8e2dc;
    

    border-radius: 0.3em;

}

.logo{
    margin-left: 2.3em;

    font-family:  'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 0.2em;

}

nav {
    display: flex;
    justify-content:flex-end; 
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;  
    justify-items: flex-end;
}

ul li{
    margin: 0 1.3em; 
}

ul li a {
    color: black; 
    
    font-size: 0.9em;
    text-decoration: none;
    letter-spacing: 0.1em;
}

@media only screen and (max-width: 909px) {
    nav{
       display: none;
    }

    .listra {

        color: black; 
    }
}
